/* MAIN STYLESHEET
  This file is now just a "table of contents".
  All styles are imported from the /css/ folder.
*/

@import url('./css/base.css');
@import url('./css/layout.css');
@import url('./css/components.css');
@import url('./css/dashboard.css');
@import url('./css/travel.css');